@import "reset.css";

body {
    background-color: #f6f9fc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}
.canvas {
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08) ;
}
.controls {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.controls .controls__range {
    margin-right: 60px;    
}
input[type=range] {
    -webkit-appearance: none;
    background: transparent; 
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.controls__range input[type=range] {
    height: 5px;    
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}
.controls__range input[type=range]::-webkit-slider-thumb {
    border: 1px solid rgba(0,0,0,0.3);
    height: 15px;
    width: 10px;
    background: white;
}

.controls .controls__colors {
    display: flex;
}
.controls__colors .controls__color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 4px 6px rgba(50,50,93,0.2), 0 1px 3px rgba(0,0,0,0.2) ;
}
.controls .controls_btns {
    margin-left: 60px;
}
.controls_btns button {
    all:unset;
    cursor: pointer;
    background-color: white;
    padding: 8px 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08) ;
    border: 2px solid rgba(0,0,0,0.2);
    color:  rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}
.controls_btns button:active {
    transform: scale(0.98);
}

